{% filter SubSection('Bonus') %}
The bonus for this problem is to complete it without doing any manual data cleanup. That is to say that your code should
be doing all of the clean up of the data, and your model should run end-to-end from the source files as given. If you 
submit without adding any cleaned up data files, then I will know you are attempting the bonus.

Please note that in a regular workflow, you would do this part first, then have the cleaned up data to work with for the 
main model. But because this is probably new to most people, I would recommend saving this for last. Clean the data up 
manually, complete the project, then come back and make it work with the original data files by automating the
clean up. To make this a bit easier, I would recommend taking notes of everything that you're doing to manually 
clean up the data, so that when you go to write the code, you know exactly what it needs to do.

Also note that we have not covered everything you will need for the bonus. Here are some additional resources to help:
{{ bonus_resources_list }}
{% endfilter %}