{% filter SubSection('Problem Definition') %}

You are an analyst at an investment fund. The fund is considering an investment in Walmart. As part of the
decision-making process, your team is building a DCF model to value the stock. Another analyst is working on
getting the free cash flows. Your job is to determine the cost of capital for Walmart.

{% endfilter %}

{% filter SubSection('Main Question') %}

Determine the WACC for Walmart. Ensure that you estimate the market value of debt by valuing the individual
debt instruments.
Once you have a baseline estimate, you want to figure out the variability of that
estimate. Given the standard deviations in the Monte Carlo Inputs section,
and assuming these variables all follow normal distributions,
visualize the probability distribution of the WACC via a histogram and a probability table. Which of the variables
has the greatest contribution to the WACC? Use at least 10,000 simulations.

{% endfilter %}



