{% filter SubSection('Submission') %}
You can use any combination of Python and Excel that you would like for this assignment. You can submit
Jupyter notebooks, .py files, and Excel workbooks. If you cleaned up any of the data files, then also provide
the cleaned data files. Your model should run from end to end from the (cleaned) data files and inputs.
{% endfilter %}