{% filter SubSection('Submission') %}
Work off of the "Project 3 Template.xlsx" and "Project 3 Template.ipynb" files on Canvas.

It is up to you whether you submit a pure Python, pure Excel, or combination model. For whichever tools
you use, you should use the templates, so those submitting a combination model will submit both a Jupyter notebook
and an Excel workbook, both based off the templates. With the combination model, your ultimate answer should be
in the Jupyter notebook.

Regardless of the tools you use, running the model should run the full Monte Carlo simulation based off the
model and simulation inputs. It is not acceptable to hard-code the simulations.

If you modify any of the data files, then submit them to Canvas along with your model. Ensure that the names of
the files are the same as the original names. If you do not submit a data file, then I will assume your model
works off the original and copy in the original file. Your bonus score will be based off of which files you submit.
If you do not submit any data files (you're using the original for all), then you will get the full bonus points,
assuming the information from the data files was correctly incorporated into the model.
{% endfilter %}