Since this exercise is a lot less structured than prior projects, so too is the bonus. The bonus will be based on
doing parts of the model especially well. If your model stands out for having great visualization, that will earn
some bonus points. If it has a great write up, is organized very well, is especially thorough, etc. then you
can earn bonus points. Basically any part of the project, if you are doing it especially well you could earn
bonus points for that. The maximum on the bonus is 5%.