Unlike the prior exercises, there is no solution key, as everyone will be working on a different company. Further,
there is considerable flexibility in forecasting so solutions wouldn't make sense even with the same company.

Readability is a higher portion of the grade as these will be large models and it's very important to stay
organized with a large model.