The purpose of this exercise is to complete a full discounted cash flow valuation of a stock from end to end,
complete with all of the additional analyses you learned throughout the course. You can pick any publicly traded
stock for your valuation. You must find the data on your own and research the company's operations. Ultimately the
main output is your valuation of the stock, but you must also provide a written justification of why you
believe this value to be correct. You must discuss and show how variable this estimate is, as well as what could
have large effects on the valuation. You should also consider several realistic scenarios based on states of the
economy, and how these scenarios affect the valuation.

Some of the components of your project should include: {{ model_requirements | UnorderedList }}

